{% load i18n %}
{% load static %}
{% with request.resolver_match.url_name as path_name %}
<div class="sidebar__menu-group">
    <ul class="sidebar_nav">

        <li>
            <a href="{% url 'blogs:post_list' %}">
                <span class="nav-icon uil uil-images"></span>
                <span class="menu-text">{% translate "blog-menu-title" %}</span>
            </a>
        </li>

        <li>
            <a href="{% url 'search:search_result' %}" class="{% if path_name == 'search_result' %}active{% endif %}">
                <span class="nav-icon uil uil-credit-card-search"></span>
                <span class="menu-text">{% translate "search-menu-title" %}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'blogs:bookmarked_posts' %}" class="{% if path_name == 'bookmark' %}active{% endif %}">
                <span class="nav-icon uil uil-bookmark"></span>
                <span class="menu-text">{% translate "bookmark-menu-title" %}</span>
            </a>
        </li>
    </ul>
</div>
{% endwith %}
