{% extends 'layout/app.html' %}

{% block title %} Blog Details {% endblock %}

{% load i18n %}

{% load static %}

{% load safe_content %}


{% block content %}
<div class="blog-page2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">{% translate "blog-detail" %}</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                {% if user.is_authenticated and user == post.writer %}
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'blogs:post_update' post.pk %}">{% translate "Edit" %}</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <form action="{% url 'blogs:post_delete' post.pk %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-link p-0" onclick="return confirm('Are you sure you want to delete this post?');">
                                                {% translate "Delete" %}
                                            </button>
                                        </form>
                                    </li>
                                {% endif %}
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <div class="blog-details-thumbnail">
                    <img src="{% static 'img/blog-details.png' %}">
                </div>
                <article class="blog-details">
                    <div class="blog-details-content">
                        <h1 class="main-title mb-30"> {{ post.title }} </h1>
                        <ul class="blog-details-meta">
                            <li class="blog-author">
                                <a href="#">
                                    <img src="{% static 'img/author-nav1.jpg' %}">
                                </a>
                                <a href="#">
                                    <span> {{ post.writer }} </span>
                                </a>
                            </li>
                            <li class="author-name">
                                <a href="#" rel="bookmark">
                                    <time class="entry-date published updated" > {{post.created_at }} </time>
                                </a>
                            </li>
                            <li class="blog-category">
                                <a href="#" rel="category tag">{{ post.category }}</a>
                            </li>
                            <li class="blog-read-time">8 mins read</li>
                        </ul>
                        <div class="blog-body">
                            {{ post.content | safe_content }}
                        </div>
                        {% comment %} <div class="blog-tags">
                            <ul>
                                <li><a href="#">Design Process</a></li>
                                <li><a href="#">Prototype</a></li>
                                <li><a href="#">Design Process</a></li>
                                <li><a href="#">Prototype</a></li>
                            </ul>
                        </div> {% endcomment %}

                        <div class="blog-author-box media">
                            <div class="auth-img">
                                <img class="w-70" src="{% static 'img/author-nav.jpg' %}" alt="author-nav">
                            </div>
                            <div class="auth-details media-body">
                                <span>Written by</span>
                                <h2>{{post.writer}}</h2>
                                {% comment %} <p>Charli Day is a British writer and social media manager specializing in dynamic
                                    branding, campaign strategy and content engagement. </p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="blog-share-top">
                        {% comment %} <div class="blog-share-fixed">
                            <span>share</span>
                            <ul>
                                <li>
                                    <a href="#" class="facebook">
                                        <i class="uil uil-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <i class="uil uil-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest">
                                        <i class="lab la-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin">
                                        <i class="uil uil-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="link copy-to-clickboard">
                                        <i class="uil uil-copy"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </article>
                <div class="card card-default card-md mb-4">
                    <div class="card-header py-20">
                        <h6>Usage with list</h6>
                    </div>
                    <div class="card-body">
                        <div class="comment-list">
                            <div class="comment-list__title">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3 d-flex align-items-center ">
                                        <textarea class="form-control form-control-lg" name="content" rows="2" placeholder="Write your comment here..." style="resize:none;"></textarea>
                                        <button type="submit" class="btn btn-primary ms-2">Submit</button>
                                    </div>

                                </form>

                            </div>
                            <ul class="comment-list__content">
                                {% for comment in post.comments.all %}
                                    <li class="mb-20">
                                        <div class="dm-comment-box media">
                                            <div class="dm-comment-box__author">
                                                <figure>
                                                    <img src="{% static 'img/author/1.jpg' %}" class="bg-opacity-primary d-flex" alt="Admin Autor">
                                                </figure>
                                            </div>
                                            <div class="dm-comment-box__content media-body" id="comment-{{ comment.id }}">
                                                <div class="comment-content-inner cci">
                                                    <span class="cci__author-info">{{ comment.writer }}</span>
                                                    <p class="cci__comment-text comment-content"> {{ comment.content }} </p>
                                                    <div class="cci__comment-actions">
                                                        <a href="#" class="btn-reply ">
                                                            <span>Reply</span>
                                                        </a>
                                                        {% if user.is_authenticated and user == comment.writer %}
                                                        <a href="#" class="btn-reply edit-comment ms-1" data-comment-id="{{ comment.id }}">
                                                            <span>Edit</span>
                                                        </a>
                                                        <form action="{% url 'blogs:comment_delete' comment.pk %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn-reply ms-1" style="background: none; border: none; color: inherit; font: inherit; padding: 0; cursor: pointer;">
                                                                <span>Delete</span>
                                                            </button>
                                                        </form>

                                                        </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% empty %}
                                    <p> No posts yet! </p><br>
                                {% endfor %}

                                {% comment %} <li>
                                    <div class="dm-comment-box media">
                                        <div class="dm-comment-box__author">
                                            <figure>
                                                <img src="{% static 'img/author/1.jpg' %}" class="bg-opacity-primary d-flex" alt="Admin Autor">
                                            </figure>
                                        </div>
                                        <div class="dm-comment-box__content media-body">
                                            <div class="comment-content-inner cci">
                                                <span class="cci__author-info">David</span>
                                                <p class="cci__comment-text">We supply a series of design principles, practical patterns and high quality
                                                    design resources (Sketch and Axure), to help people create their product prototypes beautifully and
                                                    efficiently.</p>
                                                <div class="cci__comment-actions">
                                                    <a href="#" class="btn-like">
                                                        <img class="svg" src="{% static 'img/svg/thumbs-up.svg' %}" alt="thumbs-up">
                                                        <span class="line-count">0</span>
                                                    </a>
                                                    <a href="#" class="btn-dislike">
                                                        <img src="{% static 'img/svg/thumbs-down.svg' %}" alt="thumbs-down" class="svg">
                                                        <span class="line-count">0</span>
                                                    </a>
                                                    <a href="#" class="btn-reply">
                                                        <span>Reply</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}


<script>
    $(document).ready(function() {
        $('.edit-comment').click(function(e) {
            e.preventDefault();
            var commentId = $(this).data('comment-id');
            var commentDiv = $('#comment-' + commentId);
            var contentP = commentDiv.find('.comment-content');
            var content = contentP.text().trim();

            var form = $('<form>')
                .append($('<textarea>').addClass('form-control mb-2').val(content))
                .append($('<button>').addClass('btn btn-primary btn-sm mr-2').text('Save').click(function(e) {
                    e.preventDefault();
                    var newContent = $(this).siblings('textarea').val();

                    $.ajax({
                        url: '{% url "blogs:comment_update" 999999 %}'.replace('999999', commentId),
                        method: 'POST',
                        data: {
                            'content': newContent,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            // 서버에서 반환된 새로운 내용으로 업데이트
                            contentP.text(response.content);
                            // 폼을 제거하고 업데이트된 내용을 표시
                            form.replaceWith(contentP);
                        },
                        error: function(xhr) {
                            alert(xhr.responseJSON.error || 'An error occurred while updating the comment.');
                        }
                    });
                }))
                .append($('<button>').addClass('btn btn-secondary btn-sm').text('Cancel').click(function(e) {
                    e.preventDefault();
                    form.replaceWith(contentP);
                }));

            contentP.replaceWith(form);
        });
    });
    </script>
{% endblock  %}
{% endblock %}
